/* VARIABLES */
.inputcontainer {
  z-index: 100;
  margin-left: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  display: inline-flex; }

input:active, input:focus, textarea:active, textarea:focus {
  border: 1px solid gray; }

input {
  font-family: "Roboto", sans-serif;
  border: 1px solid gray;
  border-radius: 3px;
  outline-style: none;
  font-size: 16px;
  line-height: 45px;
  padding: 0em 0.75em;
  width: 750px;
  margin-right: 3px;
  -webkit-transition: all 0.35s ease-in;
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important; }

textarea {
  padding: 0.5em;
  width: 100%;
  -webkit-transition: all 0.35s ease-in; }

.enterbtn {
  font-family: "Roboto", sans-serif;
  background-color: white;
  outline-style: none;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 43px;
  padding: 0 1em;
  text-align: center;
  -webkit-transition: all 0.35s ease-in;
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important; }

.fa {
  -webkit-transition: all 0.35s ease-in; }

.chat-boxposition {
  position: absolute !important;
  top: 52.6% !important;
  width: 100%;
  margin-left: 30px; }

.chat-box {
  position: relative;
  font-size: 19px;
  border-radius: 0 10px 10px 0;
  max-width: 450px;
  margin: 0 auto;
  float: none; }
  .chat-box ul {
    list-style-type: none;
    padding: 0; }
    .chat-box ul:target {
      display: block; }
    .chat-box ul li {
      margin: 10px 0px; }
      .chat-box ul li .bot {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
      .chat-box ul li .human {
        display: flex;
        align-items: center; }
        .chat-box ul li .human .text {
          border-radius: 0 20px 20px 20px;
          text-align: left; }
      .chat-box ul li > div .text {
        background-color: #fff;
        display: inline-block;
        padding: 15px 15px;
        max-width: 300px;
        border: 1px solid gray;
        margin-left: -104px;
        border-radius: 20px 0 20px 20px;
        z-index: 10;
        -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
        -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
        position: relative; }
      .chat-box ul li .bot .text {
        margin-right: -106px;
        text-align: left; }

.bot-icon {
  z-index: 100;
  display: inline-block;
  position: absolute;
  margin-top: -2px;
  left: 545px; }

.bot-image {
  max-height: 50px;
  max-width: 50px; }

.human-icon {
  z-index: 100;
  display: inline-block;
  position: absolute;
  margin-top: -2px;
  left: -143px; }

.human-image {
  max-height: 50px;
  max-width: 50px;
  border-radius: 30px; }

.cd-dropdown,
.cd-select {
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  font-family: "Roboto", sans-serif;
  border: 1px solid gray;
  border-radius: 3px;
  position: relative;
  width: 130px;
  display: block;
  margin-right: 3px; }

.cd-dropdown > span {
  width: 100%;
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  background: #fff;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s; }
.cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s; }
  .cd-dropdown ul li {
    display: block; }
    .cd-dropdown ul li span {
      width: 100%;
      background: #fff;
      line-height: 47px;
      font-size: 13px;
      display: block;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: "Roboto", sans-serif;
      border: 1px solid gray;
      border-radius: 3px; }
.cd-dropdown > span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Select fallback styling */
.cd-select {
  border: 1px solid #ddd; }

.cd-dropdown ul {
  position: absolute;
  top: 0;
  width: 100%; }
  .cd-dropdown ul li {
    position: absolute;
    width: 100%;
    pointer-events: none; }
.cd-dropdown > span {
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important; }

.cd-active.cd-dropdown > span {
  color: white;
  background-color: #808080; }
.cd-active.cd-dropdown ul li {
  pointer-events: auto; }
  .cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important; }
    .cd-active.cd-dropdown ul li span:hover {
      background: gray;
      color: #fff; }

.under-option {
  font-size: 13px; }

.font-reset {
  font-size: 16px !important; }

* {
  box-sizing: border-box; }

html {
  min-height: 100vh; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  background-color: #eee;
  max-width: 100vw;
  background-image: url("../img/5.png"); }

.container-fluid {
  min-height: 100vh; }

.title {
  font-size: 55px;
  padding-top: 90px;
  font-family: 'Rock Salt', sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

.intro-text {
  padding-top: 85px;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

/* Overlay style */
.overlay {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 155, 48, 0.95);
  overflow: scroll; }
  .overlay .overlay-close {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100; }

.smaller-font {
  font-size: 18px; }

.about-text {
  margin-top: 190px; }

.horizontal-rule {
  border-top: 1px solid black;
  margin: 50px 0px; }

.languages {
  overflow: auto;
  padding: 0 0 !important; }

.languages li {
  font-size: 12px;
  display: inline !important;
  height: 0px !important; }

.see-work {
  margin-top: 40px;
  margin-bottom: 20px; }

.see-work a {
  font-size: 13px;
  color: #333; }

.see-work a:hover {
  text-decoration: none; }

/* Effects */
.container {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s; }

.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.rotated {
  transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important; }

.unrotated {
  transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -webkit-transform: rotate(-90deg) !important; }

.fixtobottom {
  position: fixed;
  bottom: 0;
  left: 50%; }

.bottombuttons {
  margin: 0 auto;
  display: table;
  text-align: center;
  margin-left: -123px; }

.bottombutton {
  display: table-cell;
  vertical-align: bottom;
  margin: 0 2px;
  bottom: 0;
  border: 1px solid gray;
  background-color: #fff;
  padding: 5px 20px 0;
  border-radius: 20px 20px 0 0;
  font-size: 15px;
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
@media (max-width: 1000px) {
  input {
    width: 600px; }

  .chat-box ul li > div .text {
    margin-left: -34px; }

  .chat-box ul li .bot .text {
    margin-right: -31px; }

  .bot-icon {
    left: 470px; }

  .human-icon {
    left: -73px; } }
@media (max-width: 900px) {
  .overlay ul li {
    margin: 50px 100px; }

  input {
    width: 450px; }

  .chat-box ul li > div .text {
    margin-left: 49px; }

  .chat-box ul li .bot .text {
    margin-right: 52px; }

  .bot-icon {
    left: 387px; }

  .human-icon {
    left: 10px; } }
@media (max-width: 700px) {
  .about-text {
    margin-top: 100px;
    margin-bottom: -20px;
    font-size: 16px; }

  .see-work {
    margin-top: 15px; }

  .horizontal-rule {
    margin-bottom: 10px;
    margin-top: 30px; } }
@media (max-width: 670px) {
  .overlay ul li {
    margin: 50px 20px; }

  .title {
    font-size: 40px;
    padding-top: 80px;
    font-family: 'Aldrich', sans-serif; }

  input {
    width: 300px; }

  .chat-box ul li > div .text {
    margin-left: 0; }

  .chat-box ul li .bot .text {
    margin-right: 70px; }

  .bot-icon {
    display: none; }

  .human-icon {
    display: none; }

  .cd-dropdown {
    display: none; } }
@media (max-width: 400px) {
  .chat-box ul li > div .text {
    margin-left: -25px; }

  .languages li {
    font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
