/* VARIABLES */
$font-stack: 'Roboto', sans-serif;
$outline-border: 1px solid gray;
$input-row-border-radius: 3px;
@mixin shadow {
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75) !important;
}
@import "partials/chatline";
@import "partials/chat";
@import "partials/dropdown";

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: $font-stack;
  font-size: 20px;
  margin: 0;
  background-color: #eee;
  max-width: 100vw;
  background-image: url("../img/5.png");
}

.container-fluid {
  min-height: 100vh;
}

.title {
  font-size: 60px;
  padding-top: 90px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.fixtobottom {
  position: fixed;
  bottom: 0;
  left: 50%;
}

.bottombuttons {
  margin: 0 auto;
  display: table;
  text-align: center;
  margin-left: -78px;
}

.bottombutton {
  display: table-cell;
  vertical-align: bottom;
  margin: 0 2px;
  bottom: 0;
  border: $outline-border;
  background-color: #fff;
  padding: 5px 20px 0;
  border-radius: 20px 20px 0 0;
  font-size: 15px;
  @include shadow;
}
/* Overlay style */
.overlay {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153, 204, 51, 0.9);

  .overlay-close {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
  }

  nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;

    li {
      display: block;
      height: 20%;
      height: calc(100% / 5);
      min-height: 54px;

      a {
        font-size: 54px;
        font-weight: 300;
        display: block;
        color: #fff;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;

        &:focus,
        &:hover {
          color: #f0f0f0;
        }
      }
    }
  }
}
/* Effects */
.container {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.rotated {
  transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
}

.unrotated {
  transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -webkit-transform: rotate(-90deg) !important;
}

// Media Queries
@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}
@media (max-width: 1000px) {
  input {
    width: 600px;
  }

  .chat-box ul li > div .text {
    margin-left: -34px;
  }

  .chat-box ul li .bot .text {
    margin-right: -31px;
  }

  .bot-icon {
    left: 470px;
  }

  .human-icon {
    left: -73px;
  }
}
@media (max-width: 900px) {
  input {
    width: 450px;
  }

  .chat-box ul li > div .text {
    margin-left: 49px;
  }

  .chat-box ul li .bot .text {
    margin-right: 52px;
  }

  .bot-icon {
    left: 387px;
  }

  .human-icon {
    // -73
    left: 10px;
  }
}
@media (max-width: 670px) {
  .title {
    font-size: 40px;
    padding-top: 80px;
    font-family: 'Aldrich', sans-serif;
  }

  input {
    width: 300px;
  }

  .chat-box ul li > div .text {
    margin-left: 0;
  }

  .chat-box ul li .bot .text {
    margin-right: 70px;
  }

  .bot-icon {
    display: none;
  }

  .human-icon {
    display: none;
  }

  .cd-dropdown {
    display: none;
  }
}
@media (max-width: 400px) {
  .chat-box ul li > div .text {
    margin-left: -25px;
  }
}
